@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Libre+Barcode+EAN13+Text&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #070417 0%, #0F041F 100%);
    background-repeat: no-repeat;

}

header{
width: 100%vw;
height: 70px;
border-width: 1px;
opacity: 1;
background: #070417BF;
border-bottom: #433A3A 1px solid;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.Menu{
    display: flex;
    color: white;
    list-style: none;
    
}

.logo-img{
    width: 80px;
    margin-left: 5px;
}

.btn-selction{
    background-color:#ffffff00;
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 10%;
    margin-right: 8px;
}
.btn-selction:hover{
    background-color:#000000;
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3px;
    border: 2px solid rgb(0, 18, 218);
    border-radius: 10%;
    margin-right: 8px;
}

.ligne-1{
    width: 30px;
    height: 2px;
    background-color: white;
}

nav{
    display: flex;
    justify-content: center;
}

h1{
    background: linear-gradient(#35207E, #A2E8F7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Jolly Lodger", system-ui;
    width: 300px;
    text-align: center;
    
}

.inscription-txt{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    background-image: url(Rectangle\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;

}

.inscription-txt > h2{
    text-align: center;
    font-family: "Jolly Lodger", system-ui;
    color: #B3CFFB;
}

form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input , select{
    width: 100px;
    background-color: #B6AFAF;
    opacity: 50%;
    border: 1px solid grey;
    border-radius: 5px;
}

.genre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
        font-family: "Jolly Lodger", system-ui;
        color: #7386C4;

}

.button-insc{
        width: 120px;
        margin: 15px 0px;
        font-family: "Jolly Lodger", system-ui;
        color: #7386C4;
        width: 100px;
        background-color: #B6AFAF;
        opacity: 20%;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 5px;
}
::placeholder{
    color: rgb(0, 0, 0);
    font-size: 8px;
    opacity: 50%;

}

.button-insc > p{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    opacity: 100%;
}

h3{
    margin-top: 30px;
    text-align: center;
    font-family: "Jolly Lodger", system-ui;
    color: #B3CFFB;
}



