@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Libre+Barcode+EAN13+Text&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #070417 0%, #0F041F 100%);
    background-repeat: no-repeat;

}

header{
width: 100%vw;
height: 70px;
border-width: 1px;
opacity: 1;
background: #070417BF;
border-bottom: #433A3A 1px solid;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.Menu{
    display: flex;
    color: white;
    list-style: none;
    
}

.logo-img{
    width: 80px;
    margin-left: 5px;
}

.btn-selction{
    background-color:#ffffff00;
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 10%;
    margin-right: 8px;
}
.btn-selction:hover{
    background-color:#000000;
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3px;
    border: 2px solid rgb(0, 18, 218);
    border-radius: 10%;
    margin-right: 8px;
}

.ligne-1{
    width: 30px;
    height: 2px;
    background-color: white;
}
.click-down{
    display: none;
    flex-direction: row-reverse;
    position:fixed;
    inset :0;
    z-index: 999;
}
.click-down:target{
    display: flex;
    
    
}
.list{
    background-color: #13103b;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.list a{
    margin-top: 30px;
    font-family: "Jolly Lodger", system-ui;
    color: #fffefe;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.modal-close{
    width: 70px;
    height: 18px;
    font-family: "Jolly Lodger", system-ui;
    text-align: center;
    border: 2px solid rgb(129, 129, 129);
    background-color: #000000;
    border-radius: 10%;


}



.cond-link{
    display: none;
    justify-content: center;
    align-items: center;
    position:fixed;
    inset :0;
    z-index: 999;
}
.cond-link:target{
    display: flex;
    
    
}
.Condition-link{
    background-color: #13103b;
    padding: 20px;
    width: 80%;
    max-width: 300px;
}


nav{
    display: flex;
    justify-content: center;
}

h1{
    background: linear-gradient(#35207E, #A2E8F7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Jolly Lodger", system-ui;
    width: 300px;
    text-align: center;
    
}

.inscription-txt{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    background-image: url(Rectangle\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;

}

.inscription-txt > h2{
    text-align: center;
    font-family: "Jolly Lodger", system-ui;
    color: #B3CFFB;
}

main >h2{
    margin-bottom: 20px;
}

form , .age-mail , .nom-prenom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input , select{
    width: 100px;
    background-color: #B6AFAF;
    opacity: 50%;
    border: 1px solid grey;
    border-radius: 5px;
    color: rgb(6, 5, 5);
    text-align: center;
    font-family: "Jolly Lodger", system-ui;
}

.genre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
        font-family: "Jolly Lodger", system-ui;
        color: #7386C4;

}

.button-insc{
        margin: 15px 0px;
        font-family: "Jolly Lodger", system-ui;
        color: #7386C4;
        width: 100px;
        background-color: #B6AFAF;
        opacity: 20%;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 4px 4px  10px 2px rgb(169, 169, 251);
}
::placeholder{
    color: rgb(0, 0, 0);
    font-size: 8px;
    opacity: 50%;

}

.button-insc > p{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    opacity: 100%;
}

h3{
    margin-top: 30px;
    text-align: center;
    font-family: "Jolly Lodger", system-ui;
    color: #B3CFFB;
}



.option-2{
    color: white;
    background-color: rgb(66, 4, 222);
}

.Condition-al{
    margin-top: 5px;
    
}
.Condition-al > input{
    width: 10px;
}

.Condition{
    font-family: "Jolly Lodger", system-ui;
    color: #B3CFFB;

}

.abonnemet{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    gap: 20px;
    font-family: "Jolly Lodger", system-ui;
    
}



.abonnemet-1{
    background-color: (#150809, #0904);
    height: 180px;
    border: white solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 30px;
    width: 240px;
    margin-bottom: 20px;


}

ul{
    list-style-type: none;
}

li::marker{
    content:"✓ ";
    color: #7386C4;
}

.abonnemet-1 > div{
    width: 70px;
    border: 4px  #6A83BA solid;
    border-radius: 10px;
    padding: 4px 15px;
    text-align: center;
    font-size: 20px;


}


.abonnemet-1 > h4{
    font-size: 30px;
    color: #d0dbff;
}

.abonnemet-1:hover{

    background-color: (#150809, #0904);
    height: 200px;
    width: 250px;
    box-shadow: 0px 0px  20px 4px rgb(169, 169, 251);
}

footer #container {
    width: 100%vh;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(195, 191, 231, 1);
    padding: 0 40px;
}

footer #container #social-media {
    display: flex;
    gap: 10px;
}

@media only screen and (min-width: 600px){
   
h1{
    width: 400px;
    font-size: 40px;
}

.inscription-txt{
    width: 60%;
    padding: 20px 40px;
    border-radius: 20px;
}

main > h2{
    font-size: 40px;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nom-prenom{
    display: flex;
    flex-flow: row wrap;
    gap: 110px;

}

.age-mail{
    display: flex;
    flex-direction: row;
        gap: 120px;
}

input , select{
    width: 150px;
    border-radius: 10px;
}


.button-insc{
        width: 200px;
        border-radius: 10px;
}

.button-insc:hover{
        opacity: 80%;
        background-color: #004036;
        width: 230px;
        height: 40px;
        border-radius: 10px;
        box-shadow: 4px 4px  10px 2px rgb(169, 169, 251);
}

label{
    font-size: 24px;
}

::placeholder{
    font-size: 12px;
}


.abonnemet{
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}



.abonnemet-1{
    margin-top: 30px;
    font-size: 20px;
    height: 200px;
}



h3 {
    font-size: 40px;
}

.abonnemet-1 > div{
    width: 60px;
    padding: 4px 8px;
    font-size: 30px;
}

    footer .steam img {
        width: 240px;
    }

    .btn-selction{
  display: none;
}

.click-down{
    display: flex;
    flex-direction: row;
    position:relative;

}
.list{
    background-color: transparent;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.list a{
    font-family: "Jolly Lodger", system-ui;
    color: #fffefe;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

}

.modal-close{
display: none;
margin-top: 0px;

}
}