@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Libre+Barcode+EAN13+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Jolly Lodger", system-ui;
    background-color: #0F041F;
    background-image: url(./images/background/17609737378772\ 7.png);
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(7, 4, 23, 1);
}

#container #links {
    display: flex;
    gap: 30px;
    padding-right: 10%;
}

#container #links a {
    text-decoration: none;
    color: rgba(195, 191, 231, 1);
    border: solid 1px;
    padding: 4px;
}

#icon i {
    color: #fff;
    font-size: 50px;
    display: none;
}
@media screen and (width <=600px) {
    #container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #container #links {
        display: none;
    }

    #icon i {
        display: flex;
    }

}
h1,h2{
    font-family: "Jolly Lodger", system-ui;
    color: white;
    font-weight: 100;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sections{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.sections button{
    display: inline-flex;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 7px;
    background-color: aqua;
}
.sections button:hover{
    transform: scale(1.1);
    color: aqua;
    background-color: black;
    transition: 1s;
    cursor: pointer;
}
.valo{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
    background: linear-gradient(135deg, #000000, #1a1a2e, #16213e, #0f3460);
    border-radius: 25px;
    width: fit-content;
    padding: 7px;
    align-items: center;
    margin: 20px auto;
}
.valo p{
    font-size: 30px;
}
.valo img{
    border: 2px solid white;
    border-radius: 25px;
}
.games{
    display: flex;
    flex-direction: column;
}
.description{
    font-family: "Bitcount Grid Single";
    text-align: center;
    font-size: 10px;
    width: 185px;
    color: white;
}
.games-names{
    color: rgb(255, 0, 0);
}
.stars{
    color: gold;
}
h2{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}